body{
	font-size: 16pt;
	margin:0;
	box-sizing: border-box;
}

header > nav ul, footer{
	list-style: none;
	background-color: #4f4f4f;
	margin:0;
	text-align: center;
	font-size: 18pt;
}
header > nav ul li > a{
	text-decoration: none;
	color: #ffffff;
}

header > nav ul li{
	display: inline-block;
	margin-left: 10px;
	padding: 10px;
}

footer>div{
	padding: 10px;
	color: #ffffff;
}

.myphoto{
	text-align: center;
	color: #0077b5;
}
.myphoto img{
	width:30%;
	border: 1px solid #000000;
	border-radius: 50%;
}
.contact-form,.social-media{
	position: relative;
	float: left;
	width:45%;
	margin-left:2%; 
}
footer{
	position: fixed;
	width: 100%;
	bottom: 0;
}